/* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
} */

td,
th {
  border: 1px solid #e5e5e5;
  text-align: left;
  padding: 8px;
}

.btn-success {
  margin: 0px auto;
  position: static;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */
